@media(min-width: 768px){
    
    .container{
        width: 100%;
        max-width: 668px;
        margin: 0 auto;
    }

    .h2{
        max-width: 405px;
        padding-bottom: 30px;
    }

    .btn{
        max-width: 230px;
    }

    .header__inner{
        flex-direction: row;
        justify-content: space-between;
        padding-top: 37px;
    }

    .header__log-list{
        margin-bottom: 0px;
    }

    .after__head{
        padding-top: 226px 0 235px;
        min-height: auto;
    }

    .after__head-title{
        max-width: 478px;
        font-size: 52px;
        margin-bottom: 40px;
    }

    .after__head_sub-title{
        max-width: 405px;
        font-size: 24px;
        margin-bottom: 33px;
    }

    .holiday-partners{
        padding-bottom: 40px;
    }

    .holiday-partners__list{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .holiday-partner__item{
        margin-right: 40px;
    }


}