:root {
    --blue-color: #1abc9c;
    --primary-font: 'Open Sans', Helvetica, sans-serif;
    --secondary-font: 'Roboto', Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font);
    counter-reset: count-products;
    background-color: #e9f0fd;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1144px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.h2{
    text-align: center;
    text-transform: uppercase;
    color: #515151;
    font-size: 48px;
    font-family: var(--secondary-font);
    font-weight: 900;
}

h2::after{
    content: '';
    display: block;
    background: var(--blue-color);
    width: 165px;
    height: 8px;
    margin: 31px auto 91px auto;
}

.header {
    margin-top: 33px;
    margin-bottom: 20px;
}


.header__logo{
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    color: #555252;
    font-weight: 900;
    font-family: var(--secondary-font);
    padding: 0 0;
    text-decoration: none;
}

.header__logo::first-letter{
    color: var(--blue-color);
}

.header__nav{
    float: right;
}

.header__nav-list{
    list-style: none;
    text-align: center;
    font-size: 0;
}

.header__nav-item {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    font-size: 16px;
    font-family: var(--primary-font);
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    color: #0f0101;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav-link:hover, 
.header__nav-item_active{
    color: var(--blue-color);
}

.slider{
    position: relative;
    height: 600px;
}

.slider__cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    background-image: url('../img/slider.jpg');
    background-size: cover;
    background-position: top center;
}

.slider__cover.active {
    display: block;
}

.slider__content-wrap{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.slider__control-block {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.slider__control{
    width: 105px;
    height: 105px;
    border: none;
    background-color: var(--blue-color);
}

.slider__control svg {
    height: 35px;
}

.slider__control_prev{
    float: left;
    transform: rotate(180deg);
}

.slider__control_next{
    float: right;
}

.slider__text{
    display: none;
    width: 760px;
    margin: auto;
    font-family: "Roboto", Helvetica, sans-serif;
}

.slider__text.active {
    display: block;
}

.slider__slide-title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.slider__desc{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

.new__collection{
    margin-top: 102px;
}

.product__item{
    counter-increment: count-products;
    float: left;
    width: 256px;
    margin-right: 29px;
    margin-bottom: 30px;
    cursor: pointer;
}

.products__item:hover .products__desc{
    background-color: #1abc9c;
}

.product__item:nth-child(4n){
    margin-right: 0px;
}

.products__cover-wrap {
    position: relative;
}

.products__cover {
    display: block;
    width: 100%;
}

.product__actions{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:  0 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.35s;
    opacity: 0;
}

.product__item:hover .product__actions {
    opacity: 1;
}

.product__actions-list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 166px;
    height: 107px;
    margin: auto;
}

.product__actions-item {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    transition: 0.35s;
}

.product__actions-item:nth-child(n+3){
    margin-right: 0;
}

.product__actions-item:nth-child(4) {
    width: 100%;
    margin-top: 8px;
    background-color: #323232;
}

.product__actions-item:hover {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

.product__actions-link {
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
}

.product__actions-link-text {
    padding-left: 5px;
    user-select: none;
    font-family: var(--primary-font);
}

.product__actions-link .fas{
    font-size: 30px;
    line-height: 48px;
    vertical-align: middle;
}

.product__actions-link .far{
    font-size: 30px;
    line-height: 48px;
    vertical-align: middle;
}

.products__desc {
    background-color: #323232;
    color: #fff;
    font-size: 18px;
    line-height: 41px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}


.products__name {
    float: left;
    padding-left: 15px;
}

.products__name::before {
    content: counter(count-products);
    margin-right: 5px;
}

.products__price {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255,255,255,0.4);
}

.products__desc:hover {
    background-color: var(--blue-color);
}

.footer{
    margin-top: 69px;
    position: relative;
    height: 89px;
    background-color: #323232;
    vertical-align: middle;
}

.footer__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F4F4F4;
    margin: auto;
    font-size: 16px;
    font-family: var(--primary-font);
    vertical-align: middle;
}

.footer__text p{
    display: inline;
}

.footer__text-last{
    color: var(--blue-color);
}



