// Colors
$white-color: #fff;
$blue-color: #95e1d3;
$pink-color: #f38181;
$yellow-color:  #fce38a;
$dark-color: #333;
$grey-color: #999;
$placeholder-color: #ccc;
$montserrat-fonts: 'Montserrat', Helvetica, sans-serif;
$kaushan-fonts: 'Kaushan Script', Helvetica, sans-serif;
$roboto-fonts: 'Roboto', Helvetica, sans-serif;

