/* satisfy-regular - latin */
@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/satisfy-v10-latinsatisfy-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Satisfy Regular'), local('Satisfy-Regular'),
         url('../fonts/satisfy-v10-latinsatisfy-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/satisfy-v10-latinsatisfy-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/satisfy-v10-latinsatisfy-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/satisfy-v10-latinsatisfy-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/satisfy-v10-latinsatisfy-v10-latin-regular.svg#Satisfy') format('svg'); /* Legacy iOS */
  }
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latinroboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latinroboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latinroboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latinroboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latinroboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-latinroboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latinroboto-v20-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
         url('../fonts/roboto-v20-latinroboto-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latinroboto-v20-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latinroboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latinroboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latinroboto-v20-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
         url('../fonts/roboto-v20-latinroboto-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latinroboto-v20-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latinmontserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latinmontserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v14-latinmontserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latinmontserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}


:root {
    --yellow-color: #fed136;
    --black-color: #222;
    --grey-color: #777;
    --ff-Roboto: 'Roboto', Helvetica, sans-serif;
    --ff-Montserrat: 'Montserrat', Helvetica, sans-serif;
    --ff-Satisfy: 'Satisfy', cursive;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    box-sizing: border-box;
}

.h2{
    color: var(--black-color);
    font-family: var(--ff-Roboto);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.h3{
    color: #fff;
    font-family: var(--ff-Roboto);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 111px;
}

.header{
    margin-top: 44px;
    margin-bottom: 120px;
}

.header_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.header__logo{
    display: block;
    color: var(--yellow-color);
    text-decoration: none;
    font-family: var(--ff-Satisfy);
    font-size: 26px;
}

.header__nav-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.header__nav-item{
    font-size: 14px;
    margin-right: 40px;
}

.header__nav-item:last-child{
    margin-right: 0px;
}

.header__nav-link{
    display: block;
    color: var(--grey-color);
    font-size: 14px;
    font-family: var(--ff-Montserrat);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.35s;
}

.header__nav-link:hover{
    color: var(--yellow-color);
}



.services__title-text{
    color: var(--grey-color);
    font-family: var(--ff-Roboto);
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    margin-top: 19px;
    font-style: italic;
    margin-bottom: 79px;
}

.services__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item{
    text-align: center;
    width: 274px;
}

.services__item-icon{
    position: relative;
    width: 68px;
    height: 68px;
    border: 3px solid var(--yellow-color);
    border-radius: 50%;
    margin: 0 auto  26px;
}

.fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--yellow-color);
    font-size: 34px;
}

.services__item-title{
    font-family: var(--ff-Roboto);
    font-size: 18px;
    color: var(--black-color);
    font-weight: 700;
    margin-bottom: 15px;
}

.services__item-description{
    font-family: var(--ff-Roboto) serif;
    font-size: 14px;
    color: var(--grey-color);
}

.contact-us{
    position: relative;
}

.footer__background{
    min-height: 678px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color: var(--black-color);
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: bottom 10px right 0px;
}

.contact-us__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-us__input-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 221px;
    width: 100%;
    max-width: 912px;
    margin-bottom: 29px;
}

.contact-us__input,
.contact-us__textarea  {
    display: inline;
    width: 48.5%;
    font-size: 14px;
    padding: 21px 29px 21px 21px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-us__textarea {
    height: 100%;
    margin-left: 3%;
    resize: none;
}

.contact-us__input::placeholder,
.contact-us__textarea::placeholder{
    color: #bbb;
    font-size: 14px;
    font-weight: 700;
    font-family: var( --ff-Montserrat);
    text-transform: uppercase;
}

.contact-us__submit-btn {
 display: block;
 text-align: center;
 padding: 26px 48px;
 border: 0;
 border-radius: 3px;
 background-color: var(--yellow-color);
 padding: auto;
 font-family: var(--ff-Montserrat);
 font-size: 18px;
 text-transform: uppercase;
 font-weight: 700;
 color: #fff;
}

input:valid,
textarea:valid{
    outline-color: #006400;
}

input:invalid,
textarea:invalid{
    outline-color: #b22222;
}





